<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
    <bean class="org.example.Student" name="student1">
<!--        <property name="studentId">-->
<!--            <value>17042020</value>-->
<!--        </property>-->
        <property name="studentName">
            <value>Reyansh</value>
        </property>
<!--        <property name="studentAddress">-->
<!--            <value>Hyderabad</value>-->
<!--        </property>-->
        <property name="studentId" value="17" />
        <property name="studentName" value="Reyansh"/>
        <property name="studentAddress" value="Hyderabad" />
    </bean>
<!--    <bean class="org.example.Student" name="student2" p:studentId="23" p:studentName="Kishor" p:studentAddress="US" />-->
    <bean class="org.example.Student" name="student2" >
        <property name="studentId" value="23" />
        <property name="studentName" value="Kishor"/>
        <property name="studentAddress" value="Hyderabad" />
    </bean>
</beans>